@page
@model The_Third_Task_v3.Pages.Index1Model

<label>Вы не вошли. Зарегестрируйтесь</label>

<br>
<br>

Логин:
<input type="text" id="lol" name="fname">

<br>
<br>

Пароль:
<input type="password" id="password1" name="password1">

<br>
<br>

Повторите пароль:
<input type="password"id="password2" name="password2">

<br>
<br>

<button action="">Register</button>

<br>

Уже зарегестрированы? <a href="vk.com">Войти</a>

                      <img width="400" height="200" tabindex="0" class=" nofocus" aria-label="Смотреть исходное изображение" alt="Смотреть исходное изображение" src="http://tse1.mm.bing.net/th/id/OIP.mfWkB1ahfdMQagBfUF7VRgAAAA?pid=ImgDet&amp;rs=1">

                      <div id="detailCanvas" style="height: calc(100% - 70px); bottom: 0px;"><div id="mainImageRegion" style="width: 67%; height: calc(100% - 90px);"><div id="mainImageContainer" style="height: 100%;"><div id="mainImageViewer" style="height: calc(100% - 64px);"><div id="mainImageWindow" style="left: 0px;"><div class="mainImage  current" role="main"><div class="richImage "><div class="mainContainer "><div class="imgContainer"><span class="adjacentContainer"><span><span class="navReg navRegL" style="width: 257.5px;"></span></span><span><span class="navReg navRegR" style="width: 257.5px;"></span></span></span><img width="400" height="200" tabindex="0" class=" nofocus" aria-label="Смотреть исходное изображение" alt="Смотреть исходное изображение" src="http://tse1.mm.bing.net/th/id/OIP.mfWkB1ahfdMQagBfUF7VRgAAAA?pid=ImgDet&amp;rs=1"></div></div></div></div></div></div><div id="detailInfo" style="height: 64px;"></div></div></div><div class="insights pin rr" style="width: 33%;"><div class="custom-scroll "><div class="outer-container" style="height: 100%;"><div class="inner-container" style="height: 100%; margin-right: -18px;"><div class="content-wrapper" style="height: 100%; margin-right: 0px; -ms-overflow-y: visible;"><ul class="insml"></ul></div></div></div></div></div><div id="insights_footer" role="contentinfo"></div></div>
